/* 导入antd样式 */
@import 'antd/dist/antd.css';

/* 初始化样式 */
html,body{
  height:100%;
  width:100%
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 设置layout布局 */
#root{
  height:100% 
}
.ant-layout{
  height:100%
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider{
  height:100%
}
/* 设置logo样式 */
.logo{
  display:flex;
  justify-content: space-around;
  color:rgb(0,152,219);
  line-height: 40px;
}
.logoimg{
  width:40px;
  margin-right: 10px;
  position: relative;
  top:-2px
}
/* 设置trigger大小 */
.trigger{
  font-size: 30px;
  margin-left: 16px;
}
.ant-col{
  flex:0 0 20%;
  min-width: 200px;
}
/* 设置表格自适应 */
.ant-layout-content{
  
} 
.ant-table-wrapper{
  height:calc(100% - 72px);
}
/* 设置spinner居中 */
.ant-layout-content{
  position: relative;
}
.spinner{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(50%,50%);
}


